CREATE TABLE default.device_metrics
(
    `deviceId` String,
    `deviceName` String,
    `hostname` String,
    `timestamp` UInt64,
    `cpuLoad` Float64,
    `systemLoadAverage` Float64,
    `memoryUsedPercent` Float64,
    `memoryTotal` UInt64,
    `memoryAvailable` UInt64,
    `networkRxBytes` UInt64,
    `networkTxBytes` UInt64,
    `processCount` UInt32,
    `cpuTemperature` Float64
)
    ENGINE = MergeTree
ORDER BY (deviceId, timestamp)
SETTINGS index_granularity = 8192;