CREATE TABLE default.disk_metrics
(
    `deviceId` String,
    `timestamp` UInt64,
    `mountPoint` String,
    `total` UInt64,
    `free` UInt64,
    `usedPercent` Float64
)
    ENGINE = MergeTree
ORDER BY (deviceId, mountPoint, timestamp)
SETTINGS index_granularity = 8192;