CREATE TABLE default.metrics_features
(
    `deviceId` String,
    `timestamp` UInt64,
    `avgCpuLoad` Float64,
    `maxMemoryUsed` Float64,
    `avgCpuTemp` Float64,
    `avgNetRx` Float64,
    `avgNetTx` Float64,
    `avgProcesses` Float64
)
    ENGINE = MergeTree
ORDER BY (deviceId, timestamp)
SETTINGS index_granularity = 8192;