CREATE TABLE default.predictions
(
    `deviceId` String,
    `metricName` String,
    `createdAt` UInt64,
    `forecastTime` UInt64,
    `predictedValue` Float64,
    `status` String,
    `reason` String
)
    ENGINE = MergeTree
ORDER BY (deviceId, metricName, createdAt)
SETTINGS index_granularity = 8192;