CREATE TABLE default.prediction_settings
(
    `timestamp` UInt64,
    `forecastMinutes` Int32,
    `anomalySensitivity` Float64
)
    ENGINE = MergeTree
ORDER BY timestamp
SETTINGS index_granularity = 8192;